# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/wall_of_shame?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-to-a-secure-random-string-32-chars"

# Admin seed credentials (used by prisma/seed.ts)
ADMIN_EMAIL="admin@wallofshame.com"
ADMIN_PASSWORD="Admin@Shame2024!"
ADMIN_NAME="The Administrator"
